<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <ul class="navbar-nav">
       <li class="nav-item">
            <a routerLink="Sistema/empleados" routerLinkActive="active" class="nav-link">EMPLEADOS</a>

        </li>
        <li class="nav-item">
            <a routerLink="Sistema/aviones" routerLinkActive="active" class="nav-link">AVIONES</a>
        </li>

        <li class="nav-item">
            <a routerLink="Sistema/pasajeros" routerLinkActive="active" class="nav-link">PASAJEROS</a>
        </li>

        <li class="nav-item">
            <a routerLink="Sistema/reservas" routerLinkActive="active" class="nav-link">RESERVAS</a>
        </li>
        
        <li class="nav-item">
            <a routerLink="Sistema/boletos" routerLinkActive="active" class="nav-link">BOLETOS</a>
        </li>

        <li class="nav-item">
            <a routerLink="Sistema/vuelos" routerLinkActive="active" class="nav-link">VUELOS</a>
        </li>
        
    </ul>
</nav>

<h1 class="text-center">BOLETOS - PETEN - GUATEMALA CITY</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>